<!DOCTYPE>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/output.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>


<body class="h-[100vh] ">

    <section id="loading" class="flex h-[100vh] w-[200vw] ">

        <section class="h-[100vh] w-[100vw] bg-base-100">
            <div class="flex justify-center items-center h-full">
                <div class="flex items-center gap-5">

                    <img class="translate-y-[-100%]" src="../img/Group2.svg">
                </div>
            </div>

            <div class="load"></div>

        </section>

        <section id="navigation" class="h-full w-1/2">

            <section id="firstimg" class="h-full text-white z-0">
                <div class="h-full text-white flex flex-col gap-4 p-6 pb-16 z-10 "
                    style="background-color: rgba(0, 0, 0, 0.371);">
                    <h2 class="text-5xl font-semibold mt-auto">Welcome to </h2>
                    <h1 class="text-6xl font-bold mt-3">shoem</h1>
                    <p class="text-xl mt-3">The best sneakers & shoes e-commerse app of
                        the century for your fashion needs!</p>
                </div>
            </section>

            <section class="h-full ">
                <div class="overflow-hidden  h-[90%] ">
                   
                    <div class="swapper flex ">
                        <div class="w-full">
                            <div class="h-[75%]">
                                <img src="../img/WallpaperDog-2.png" alt="" class="h-full w-full">
                            </div>
                            <p class="p-4 px-8 text-2xl text-center font-bold text-primary">We provide high quality
                                products just for you</p>
                        </div>
                        <div class="w-0">
                            <div class="h-[75%]">
                                <img src="../img/WallpaperDog-3.png" alt="" class="h-full w-full">
                            </div>
                            <p class="p-4 px-8 text-2xl text-center font-bold text-primary">Your satisfaction is our
                                number one periority</p>
                        </div>
                        <div class="w-0">
                            <div class="h-[75%]">
                                <img src="../img/WallpaperDog-4.png" alt="" class="h-full w-full">
                            </div>
                            <p class="p-4 px-8 text-2xl text-center font-bold text-primary">Let’s fulfill your fashion
                                needs with shoearight now!</p>
                        </div>
                    </div>                    
                </div>
                <div class="my-step text-center flex gap-1 justify-center h-6 ">
                    <div class="bg-blue-400 w-8 h-3 rounded-3xl"></div>
                    <div class="bg-secondary w-8 h-3 rounded-3xl"></div>
                    <div class="bg-secondary w-8 h-3 rounded-3xl"></div>
                </div>

                 


                <div class="p-4 px-8 w-full">
                    <a class="btn-next btn btn-primary rounded-3xl w-full">Next</a>
                </div>

            </section>


        </section>


    </section>


    <script src="../scripts/landing.js"></script>

</body>

</html>