<!DOCTYPE >
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/output.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>


<body  >

    <section class="h-[100vh] bg-base-100 relative">
        <div class="flex justify-center items-center h-full">
            <div class="flex items-center gap-5">
              
                <img class="  translate-y-[-100%]" src="../img/Group2.svg"> 
            </div>
        </div>

        <div class="load"></div>
    </section>




</body>

</html>